.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.hero img {
    margin-top: 100px;
    height: 200px;
}

.hero h1 {
    text-align: center;
    width: 60%;
    font-size: 90px;
    font-weight: 600;
}

.hero h1 span {
    background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-connect {
    padding: 15px 20px;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
    cursor: pointer;
    white-space: nowrap;
}

.hero-resume {
    padding: 15px 20px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    white-space: nowrap;
}

.hero-connect:hover {
    border: 2px solid white;
}

.hero-resume:hover {
    border-color: #b415ff;
}

/* Tablet */
@media (max-width: 768px) {
    .hero img {
        margin-top: 120px;
        width: 240px;
        height: auto;
    }

    .hero h1 {
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }

    .hero p {
        width: 80%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }

    .hero-action {
        gap: 16px;
        font-size: 18px;
        margin-bottom: 50px;
    }

    .hero-connect,
    .hero-resume {
        padding: 15px 25px;
        border-radius: 40px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .hero img {
        margin-top: 100px;
        width: 180px;
    }

    .hero h1 {
        font-size: 36px;
        width: 95%;
    }

    .hero p {
        font-size: 16px;
        width: 90%;
        line-height: 28px;
    }

    .hero-action {
        gap: 12px;
        font-size: 16px;
    }

    .hero-connect,
    .hero-resume {
        width: 80%;
        text-align: center;
        padding: 14px 0;
    }
}
