.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.about-title{
    position: relative;
}

.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about-sections{
    display: flex;
    gap: 80px;
}
.about-sections img{
    height: 500px;
    width: 400px;
}

.about-right{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}

.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-skill {
  display: flex;
  align-items: center;
}

.about-skill p {
  width: 300px; /* Fixed width ensures all lines start at the same point */
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.bar {
  flex: 1; /* Takes remaining space */
}

.bar hr {
  height: 8px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
  margin: 0;
}

@media(max-width:768px){
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }
    .about-title h1{
        font-size: 50px;
        padding: 0;
    }
    .about-title img{
        width: 130px;
        right: -20px;
    }
    .about-sections{
        flex-direction: column;
    }
    .about-left{
        display: none;
    }
    .about-para{
        font-size: 18px;
        line-height: 32px;
    }
    .about-skill{
        gap: 20px;
        align-items: center;
    }

    .about-skill p{
        font-size: 20px;
    }
    .about-skill hr{
        height: 6px;
    }
}
